@import '~sass/text';
@import '~sass/check-card';

.check-card p.check-health {
  &.healthy::before {
    background-color: limegreen;
  }
  &.unhealthy::before {
    background-color: red;
  }
  &.warning::before {
    background-color: gold;
  }
}
